.app.light {
    --bg-color: #f8f8f2;
    --inverted-bg-color: #282a36;
    
    --primary-color: #ff79c6;
    --secondary-color: #282a36;
    --inverted-primary-color: #008639;
    --inverted-secondary-color: #f8f8f2;
}